*{box-sizing:border-box;margin:0;padding:0}body{color:#e0e0e0;background-color:#121212;font-family:Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;line-height:1.5}a{color:inherit;text-decoration:none;transition:all .3s}
